.header__menu {
  grid-area: menu;
}

@media (max-width: 425px) {
  .header__menu {
    margin-right: 30px;
  }
}

@media (max-width: 768px) {
  .header_wrappable .header__menu {
    width: 100%;
    /* Скрытие меню */
    max-height: 0;
    overflow: hidden;
    transition: max-height .3s;
  }
}
