.header__menu-item {
  padding: 0;
  margin: 0;
  background-color: transparent;
  border: none;
  color: inherit;
  text-decoration: none;
  transition: opacity .3s;
}

.header__menu-item:is(a, button) {
  cursor: pointer;
}

.header__menu-item:is(a, button):hover {
  opacity: .6;
}

